apiVersion: audit.k8s.io/v1
kind: Policy
metadata:
  name: audit-policy
rules:
  - level: Metadata
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
    resources:
      - group: ""
        resources: ["pods"]
