[submodule "cks/cks-crashcourse"]
	path = cks/cks-crashcourse
	url = git@github.com:bmuschko/cks-crash-course.git
[submodule "cks/cks-crash-course"]
	path = cks/cks-crash-course
	url = git@github.com:bmuschko/cks-crash-course.git
